/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Oct-2015, 23:58:17
    Author     : Andrew
*/

footer{
    top: 90%;
    position: fixed;
    float: right;
    color: white;
}

body{
    margin-top: 80px;
    margin-left: 20px;
    background-color: #0b0f42;
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    background-color: black;
    color: white;
    list-style-type: none;
    height: 65px;
    width: 100%;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
}

a {
    font-size: 1.1em;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

a:click{
    color:white;
}

a:visited{
    color:white;
}

a:hover{
    color: white;
}

#profileInfo{
    margin-left: 90px;
    margin-top: 10px;
    position: relative;
    width: 60%;
    height: 70px;
}

#profileName {
    font-size: 1.1em;
    position: relative;
    color: midnightblue;
    top: 0px;
    margin-top: 0px;
    margin-left: 20px;
    display: inline-block;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    vertical-align: top;
}

#profileName:click{
    color:midnightblue;
}

#profileName:visited{
    color:midnightblue;
}

#profileName:hover{
    color: midnightblue;
}

li {
    margin-top: 30px;
    color: midnightblue;
    display: inline;
    width: 90px; 
}

h1{
    font-size: 1.7em;
}

div{
    /*
    margin-top: 0px;*/
    width: 60%;
    margin-bottom: 15px;
    margin-left: 20px;
    height: 70px;
}